<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="org.foxconn.tencent.shipoutExcel.dao.OsMsgDao">
 
 	<select id="findAll"  parameterType="map" statementType="CALLABLE" resultType="org.foxconn.tencent.shipoutExcel.entity.OsMsgModel">
 		<![CDATA[
		    {call efoxsfcgetTencentShipoutExcelMsg
		     (#{ssn,mode=IN,jdbcType=VARCHAR},
		      #{startTime,mode=IN,jdbcType=DATE},
		      #{endTime,mode=IN,jdbcType=DATE}
		     )
		     }
		]]>
 	</select>
 	
 </mapper>        
 